/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *             Styling the body            * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

body {
    /* Changing the font to use Roboto */
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    /* background for the body */
    background: #2B2B28;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Styling the background images */

.backImg {
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    display: flex;
}


/* Change the opacity of background image */

.backImg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
}


/* Avoid the change of opacity affecting text in h1 */

h1 {
    position: relative;
    text-align: center;
}


/* Avoid the change of opacity affecting text in h2 */

h2 {
    position: relative;
    text-align: center;
}

/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *       Styling the navigation bar        * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */


/* Make the elements in the account class (sign in and sign up) be on the right*/

.account {
    float: right;
}


/* The element that is in the current class (which represents the active page) has #4A403A color.
    The elements in the default-nav class (elements in the navigation bar that are not the current page)
    have #fff color (white) 
*/

.current {
    color: #4A403A !important;
}

.default-nav {
    color: #fff;
}


/* Icons that show up in the navigation bar */

i {
    margin-right: 6px;
    vertical-align: middle;
}


/* navbar */

nav {
    height: 55px;
    width: 100%;
    background-color: #B68973;
    position: fixed;
}


/* for ul elements inside nav */

nav ul {
    padding: 0;
    margin: 0;
}


/* for li elements inside nav */

nav li {
    display: inline;
}


/* for a elements inside nav */

nav a {
    display: inline-block;
    width: 100px;
    font-weight: regular;
    text-align: center;
    text-decoration: none;
    padding: 20px 0px;
}


/* when hovering over an anchor element that is inside nav */

nav a:hover {
    color: #A45D5D;
    cursor: pointer;
}


/* @media query below will display phone-menue depending on the screen size. (please see below)
    by default the navbar will not display the phone navigation menue.
*/

.phone-menue {
    display: none;
}


/* Pulse animation when hovering on nav bar buttons */

@-webkit-keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.pulse-grow-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse-grow-on-hover:hover, .pulse-grow-on-hover:focus, .pulse-grow-on-hover:active {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *        Styling the main content         * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

.main-section {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 3rem;
    margin-top: 22vh;
}


/*
    For the element with an id main-header
*/

#main-header {
    font-weight: 400;
    font-size: 44px;
    color: #ffd966;
    text-align: center;
    margin: 4px;
}


/*
    For the element with an id secondary-header
*/

#secondary-header {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.12rem;
}


/* Styling the image*/

img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *            Styling the footer           * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

footer {
    text-align: center;
    padding: 1px;
    background-color: #B68973;
    bottom: 0;
    color: white;
    margin-top: auto;
    position: relative;
    text-align: center;
}


/* Scrolling the text in footer */
.scrolling {
    height: 17px;  
    overflow: hidden;
    position: relative;
    padding-bottom: .5em;
}
.scrolling p {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 17px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: scrolling 20s linear infinite;
    -webkit-animation: scrolling 20s linear infinite;
    animation: scrolling 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scrolling {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrolling {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scrolling {
    0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);       
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}



/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *    Styling for smaller sized screens    * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

@media screen and (max-width: 600px) {
    /* adjust the padding for the main content of the page */
    .content {
        padding: 0 2rem;
    }
    /* Hide the navigation element as we use div to display the navigation
    menue for smaller sizes */
    nav {
        display: none;
        position: fixed;
        z-index: 10000;        
    }
    /* display the class called phone-menue */
    .phone-menue {
        display: inline-block;
        padding: 0;
    }
    .phone-menue li {
        display: inline;
    }
    /* The anchor element that shows up on the right of the navigation bar.*/
    a.phone-navr {
        position: absolute;
        display: inline-block;
        right: 20px;
        color: #fff;
    }
    /* The anchor element that shows up on the left of the navigation bar.*/
    a.phone-navl {
        position: absolute;
        display: inline-block;
        left: 20px;
        color: #fff;
    }
    /* Hovering over any element in the navigation bar will change the color.*/
    a.phone-navl:hover,
    a.phone-navr:hover {
        color: #A45D5D;
        cursor: pointer;
    }
    /* activating any element in the navigation bar will change the color.*/
    a.phone-navl:active,
    a.phone-navr:active {
        color: #A45D5D;
    }
}


/* Dropdown box for nav bar button */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* Dropdown box content for nav bar button */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4A403A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change text color when hovering */
.dropdown-content a:hover {
    color: #A45D5D;
}

.show {
    display: block;
}