/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *             Styling the body            * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

body {
    /* Changing the font to use Roboto */
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    /* background for the body */
    background: #2B2B28;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *             Styling the table           * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 3px solid #dddddd;
    text-align: left;
    font-size: 22px;
    color: #fff;
    padding: 10px;
}


/* Change the background color of even rows */

tr:nth-child(even) {
    background: #434343;
}

td a {
    display: block;
    text-decoration: none;
    color: inherit;
}


/* Change the background color when cursor hovering over the table */

tr:hover {
    background: #16697A;
    cursor: pointer;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.result-table {
    max-width: 75%;
    max-height: 50%;
    overflow: scroll;
    margin-top: 30px;
}

.result-container {
    margin-top: auto;
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *             Styling the image           * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

img {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/* Styling the image when cursor hovering over it */

img:hover {
    box-shadow: 0 0 8px #16697A;
    cursor: pointer
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *        Styling the main content         * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

.main-section {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 3rem;
}

.main-section .content .home {
    margin-top: 35vh;
}

#main-header {
    font-weight: 400;
    font-size: 44px;
    color: #ffd966;
    text-align: center;
    margin: 4px;
}

#secondary-header {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.12rem;
}


/* Styling the header of the page */

.heading {
    font-weight: 300;
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-top: 70px;
    border-bottom: double #CC9B6D;
}

#location-heading {
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 6px;
}


/* Styling the title of the museum information */

.subheading-t {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin: 16px;
    margin-top: 16px;
}


/* Styling the detailed content of the museum information */

.subheading-p {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-align: left;
    margin: 16px;
    margin-top: 16px;
    margin-left: 30px;
}


/* Icons that show up in the navigation bar */

i {
    margin-right: 6px;
    vertical-align: middle;
}


/* Styling the museum information */

.museum-info {
    float: left;
    text-align: left;
    max-width: 35%;
    max-height: 75%;
    color: #fff;
    padding-bottom: 2em;
}


/* navbar */

nav {
    height: 55px;
    width: 100%;
    background-color: #B68973;
    position: fixed;
}


/* for ul elements inside nav */

nav ul {
    padding: 0;
    margin: 0;
}


/* for li elements inside nav */

nav li {
    display: inline;
}


/* for a elements inside nav */

nav a {
    display: inline-block;
    width: 100px;
    font-weight: regular;
    text-align: center;
    text-decoration: none;
    padding: 20px 0px;
    color: #00FFFF;
}


/* when hovering over an anchor element that is inside nav */

nav a:hover {
    color: #A45D5D;
    cursor: pointer;
}

nav a:active {
    color: #A45D5D;
}

nav a#dropdown {
    display: none;
}


/* The element that is in the current class (which represents the active page) has #4A403A color.
    The elements in the default-nav class (elements in the navigation bar that are not the current page)
    have #fff color (white) 
*/

.current {
    color: #4A403A !important;
}

.default-nav {
    color: #fff;
}


/* Make the elements in the account class (sign in and sign up) be on the right*/

.account {
    float: right;
}


/* @media query below will display phone-menue depending on the screen size. (please see below)
    by default the navbar will not display the phone navigation menue.
*/

.phone-menue {
    display: none;
}


/* end navbar */


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *            Styling the footer           * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

footer {
    text-align: center;
    padding: 1em;
    background-color: #B68973;
    bottom: 0;
    color: white;
    margin-top: auto;
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *    Styling for smaller sized screens    * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

@media screen and (max-width: 600px) {
    /* adjust the padding for the main content of the page */
    .content {
        padding: 0 2rem;
    }
    /* Hide the navigation element as we use div to display the navigation
    menue for smaller sizes */
    nav {
        display: none;
    }
    /* display the class called phone-menue */
    .phone-menue {
        display: inline-block;
        padding: 0;
    }
    .phone-menue li {
        display: inline;
    }
    /* The anchor element that shows up on the right of the navigation bar.*/
    .phone-navr {
        position: absolute;
        display: inline-block;
        right: 20px;
        color: #fff;
    }
    /* The anchor element that shows up on the left of the navigation bar.*/
    .phone-navl {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        color: #fff;
    }
    /* The anchor element with id phone-current (which represents the active page).*/
    .phone-current {
        color: #4A403A;
    }
    /* Hovering over any element in the navigation bar will change the color.*/
    .phone-current:hover,
    .phone-navl:hover,
    .phone-navr:hover {
        color: #A45D5D;
        cursor: pointer;
    }
    /* activating any element in the navigation bar will change the color.*/
    .phone-current:active,
    .phone-navl:active,
    .phone-navr:active {
        color: #A45D5D;
    }
}