/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *             Styling the body            * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

body {
    /* Changing the font to use Roboto */
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    /* background for the body */
    /* #2B2B28   */
    background: linear-gradient(45deg, #2B2B28, #2B2B28, #293B5F, #334257, #47597E, #476072, #548CA8);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Background gradient color changing */

@keyframes gradient {
    0% {
        background-position: 0%
    }
    100% {
        background-position: 100%
    }
}


/* Styling the map */

#map {
    height: 450px;
    width: 100%;
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *             Styling the table           * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 2px solid #dddddd;
    text-align: left;
    font-size: 22px;
    color: #fff;
    padding: 10px;
}


/* Set the width of table cells in the first column */

td:first-child,
th:first-child {
    width: 300px;
}


/* Change the background color of even rows */

tr:nth-child(even) {
    background: #434343;
}

td a {
    display: block;
    text-decoration: none;
    color: inherit;
}


/* Change the background color when cursor hovering over the table */

tr:hover {
    background: #16697A;
    cursor: pointer;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.result-table {
    max-width: 75%;
    max-height: 50%;
    overflow: scroll;
    margin-top: 30px;
}

.result-container {
    margin-top: auto;
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *             Styling the image           * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

img {
    padding: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 15px;
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *        Styling the main content         * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

.main-section {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 3rem;
}

.main-section .content .home {
    margin-top: 35vh;
}

#main-header {
    font-weight: 400;
    font-size: 44px;
    color: #ffd966;
    text-align: center;
    margin: 4px;
}

#secondary-header {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.12rem;
}


/* Styling the header of the page */

.heading {
    font-weight: 300;
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-top: 70px;
    border-bottom: double #CC9B6D;
}

#location-heading {
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 6px;
}


/* Icons that show up in the navigation bar */

i {
    margin-right: 6px;
    vertical-align: middle;
}


/* navbar */

nav {
    height: 55px;
    width: 100%;
    background-color: #B68973;
    position: fixed;
    z-index: 10000;
}


/* for ul elements inside nav */

nav ul {
    padding: 0;
    margin: 0;
}


/* for li elements inside nav */

nav li {
    display: inline;
}


/* for a elements inside nav */

nav a {
    display: inline-block;
    width: 100px;
    font-weight: regular;
    text-align: center;
    text-decoration: none;
    padding: 20px 0px;
    color: #00FFFF;
}


/* when hovering over an anchor element that is inside nav */

nav a:hover {
    color: #A45D5D;
    cursor: pointer;
}

nav a:active {
    color: #A45D5D;
}

nav a#dropdown {
    display: none;
}


/* The element that is in the current class (which represents the active page) has #4A403A color.
    The elements in the default-nav class (elements in the navigation bar that are not the current page)
    have #fff color (white) 
*/

.current {
    color: #4A403A !important;
}


/* Make the elements in the account class (sign in and sign up) be on the right*/

.account {
    float: right;
}

.default-nav {
    color: #fff;
}


/* @media query below will display phone-menue depending on the screen size. (please see below)
    by default the navbar will not display the phone navigation menue.
*/

.phone-menue {
    display: none;
}


/* Pulse animation when hovering on nav bar buttons */

@-webkit-keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.pulse-grow-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse-grow-on-hover:hover,
.pulse-grow-on-hover:focus,
.pulse-grow-on-hover:active {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


/* end navbar */


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *            Styling the footer           * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

footer {
    text-align: center;
    padding: 1px;
    background-color: #B68973;
    bottom: 0;
    color: white;
    margin-top: auto;
}


/* Scrolling the text in footer */

.scrolling {
    height: 17px;
    overflow: hidden;
    position: relative;
    padding-bottom: .5em;
}

.scrolling p {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 17px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scrolling 20s linear infinite;
    -webkit-animation: scrolling 20s linear infinite;
    animation: scrolling 20s linear infinite;
}


/* Move it (define the animation) */

@-moz-keyframes scrolling {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scrolling {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scrolling {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}


/* 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * *
 * * * * * * * * * *    Styling for smaller sized screens    * * * * * * * * * * *
 * * * * * * * * * *                                         * * * * * * * * * * * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

@media screen and (max-width: 600px) {
    /* adjust the padding for the main content of the page */
    .content {
        padding: 0 2rem;
    }
    /* Hide the navigation element as we use div to display the navigation
    menue for smaller sizes */
    nav {
        display: none;
        position: fixed;
        z-index: 10000;
    }
    /* display the class called phone-menue */
    .phone-menue {
        display: inline-block;
        padding: 0;
    }
    .phone-menue li {
        display: inline;
    }
    /* The anchor element that shows up on the right of the navigation bar.*/
    a.phone-navr {
        position: absolute;
        display: inline-block;
        right: 20px;
        color: #fff;
    }
    /* The anchor element that shows up on the left of the navigation bar.*/
    a.phone-navl {
        position: absolute;
        display: inline-block;
        left: 20px;
        color: #fff;
    }
    /* Hovering over any element in the navigation bar will change the color.*/
    a.phone-navl:hover,
    a.phone-navr:hover {
        color: #A45D5D;
        cursor: pointer;
    }
    /* activating any element in the navigation bar will change the color.*/
    a.phone-navl:active,
    a.phone-navr:active {
        color: #A45D5D;
    }
}


/* Dropdown box for nav bar button */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* Dropdown box content for nav bar button */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4A403A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Change text color when hovering */

.dropdown-content a:hover {
    color: #A45D5D;
}

.show {
    display: block;
}